<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SisGrad</title>
<style>
.button{
	display: inline-block;
	width: 100px;
	text-allign: center;
}
</style>
</head>
<body>

	<h3>
		Dados do usuário
		</h3>
		<div align="center">
			<table  border="1" style="width:500px">
				<thead class="table-info">
					<tr style="text-align: center; vertical-align: middle">
						<th scope="col" style="width:100px">Matricula</th>
						<th scope="col" style="width:300px">Nome</th>
						<th scope="col" style="width:200px">CPF</th>
						<th scope="col" style="width:300px">E-Mail</th>
						<th scope="col" style="width:200px">Tipo</th>
						<th scope="col" style="width:100px">Administrar</th>
					</tr>
					
				</thead>
				<tbody>
					<tr th:each="Usuario : ${usuarios}" style="text-align: center; vertical-align: middle">
						<td><span th:text="${Usuario.matricula}"> N/A </span></td>
						<td><span th:text="${Usuario.nome}"> N/A </span></td>
						<td><span th:text="${Usuario.cpf}"> N/A </span></td>
						<td><span th:text="${Usuario.email}"> N/A </span></td>
						<td><span th:text="${Usuario.usertype}"> N/A </span></td>
						<td><button class="button">Remover</button><button class="button">Editar</button></td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<form method="get" action="/menuAdm/mngUsuarios/viewUser/Lista/voltar"><button>Voltar</button></form>
</body>
</html>